.p5Canvas {
    opacity: 0;
    position: fixed;
    top: 80px;
    left: 0;
    mask: linear-gradient(to right, transparent, #000f var(--mask-progress), transparent, transparent, transparent);
}

.inout {
    animation: inout 3s linear infinite;
}

@keyframes inout {
    0% {
        opacity: 0;
        --mask-progress: 0%;
    }

    1% {
        opacity: 0.01;
        --mask-progress: 2%;
    }

    2% {
        opacity: 0.02;
        --mask-progress: 4%;
    }

    3% {
        opacity: 0.03;
        --mask-progress: 6%;
    }

    4% {
        opacity: 0.04;
        --mask-progress: 8%;
    }

    5% {
        opacity: 0.05;
        --mask-progress: 10%;
    }

    6% {
        --mask-progress: 12%;
    }

    7% {
        --mask-progress: 14%;
    }

    8% {
        --mask-progress: 16%;
    }

    9% {
        --mask-progress: 18%;
    }

    10% {
        --mask-progress: 20%;
    }

    11% {
        --mask-progress: 22%;
    }

    12% {
        --mask-progress: 24%;
    }

    13% {
        --mask-progress: 26%;
    }

    14% {
        --mask-progress: 28%;
    }

    15% {
        --mask-progress: 30%;
    }

    16% {
        --mask-progress: 32%;
    }

    17% {
        --mask-progress: 34%;
    }

    18% {
        --mask-progress: 36%;
    }

    19% {
        --mask-progress: 38%;
    }

    20% {
        --mask-progress: 40%;
    }

    21% {
        --mask-progress: 42%;
    }

    22% {
        --mask-progress: 44%;
    }

    23% {
        --mask-progress: 46%;
    }

    24% {
        --mask-progress: 48%;
    }

    25% {
        --mask-progress: 50%;
    }

    26% {
        --mask-progress: 52%;
    }

    27% {
        --mask-progress: 54%;
    }

    28% {
        --mask-progress: 56%;
    }

    29% {
        --mask-progress: 58%;
    }

    30% {
        --mask-progress: 60%;
    }

    31% {
        --mask-progress: 62%;
    }

    32% {
        --mask-progress: 64%;
    }

    33% {
        --mask-progress: 66%;
    }

    34% {
        --mask-progress: 68%;
    }

    35% {
        --mask-progress: 70%;
    }

    36% {
        --mask-progress: 72%;
    }

    37% {
        --mask-progress: 74%;
    }

    38% {
        --mask-progress: 76%;
    }

    39% {
        --mask-progress: 78%;
    }

    40% {
        --mask-progress: 80%;
    }

    41% {
        --mask-progress: 82%;
    }

    42% {
        --mask-progress: 84%;
    }

    43% {
        --mask-progress: 86%;
    }

    44% {
        --mask-progress: 88%;
    }

    45% {
        --mask-progress: 90%;
    }

    46% {
        --mask-progress: 92%;
    }

    47% {
        --mask-progress: 94%;
    }

    48% {
        --mask-progress: 96%;
    }

    49% {
        --mask-progress: 98%;
    }

    50% {
        --mask-progress: 100%;
    }

    51% {
        --mask-progress: 102%;
    }

    52% {
        --mask-progress: 104%;
    }

    53% {
        --mask-progress: 106%;
    }

    54% {
        --mask-progress: 108%;
    }

    55% {
        --mask-progress: 110%;
    }

    56% {
        --mask-progress: 112%;
    }

    57% {
        --mask-progress: 114%;
    }

    58% {
        --mask-progress: 116%;
    }

    59% {
        --mask-progress: 118%;
    }

    60% {
        --mask-progress: 120%;
    }

    61% {
        --mask-progress: 122%;
    }

    62% {
        --mask-progress: 124%;
    }

    63% {
        --mask-progress: 126%;
    }

    64% {
        --mask-progress: 128%;
    }

    65% {
        --mask-progress: 130%;
    }

    66% {
        --mask-progress: 132%;
    }

    67% {
        --mask-progress: 134%;
    }

    68% {
        --mask-progress: 136%;
    }

    69% {
        --mask-progress: 138%;
    }

    70% {
        --mask-progress: 140%;
    }

    71% {
        --mask-progress: 142%;
    }

    72% {
        --mask-progress: 144%;
    }

    73% {
        --mask-progress: 146%;
    }

    74% {
        --mask-progress: 148%;
    }

    75% {
        --mask-progress: 150%;
    }

    76% {
        --mask-progress: 152%;
    }

    77% {
        --mask-progress: 154%;
    }

    78% {
        --mask-progress: 156%;
    }

    79% {
        --mask-progress: 158%;
    }

    80% {
        --mask-progress: 160%;
    }

    81% {
        --mask-progress: 162%;
    }

    82% {
        --mask-progress: 164%;
    }

    83% {
        --mask-progress: 166%;
    }

    84% {
        --mask-progress: 168%;
    }

    85% {
        --mask-progress: 170%;
    }

    86% {
        --mask-progress: 172%;
    }

    87% {
        --mask-progress: 174%;
    }

    88% {
        --mask-progress: 176%;
    }

    89% {
        --mask-progress: 178%;
    }

    90% {
        --mask-progress: 180%;
    }

    91% {
        --mask-progress: 182%;
    }

    92% {
        --mask-progress: 184%;
    }

    93% {
        --mask-progress: 186%;
    }

    94% {
        --mask-progress: 188%;
    }

    95% {
        opacity: 0.05;
        --mask-progress: 190%;
    }

    96% {
        opacity: 0.04;
        --mask-progress: 192%;
    }

    97% {
        opacity: 0.03;
        --mask-progress: 194%;
    }

    98% {
        opacity: 0.02;
        --mask-progress: 196%;
    }

    99% {
        opacity: 0.01;
        --mask-progress: 198%;
    }

    100% {
        opacity: 0;
        --mask-progress: 200%;
    }
}