@font-face {
    font-family: 'SdglitchdemoRegular-YzROj';
    src: url('/font-family/SdglitchdemoRegular-YzROj.ttf') format('truetype');
}

@font-face {
    font-family: 'CyberwarRegular-7BX0E';
    src: url('/font-family/CyberwarRegular-7BX0E.ttf') format('truetype');
}