.glitch {
    position: relative;
    display: inline-block;
    font-size: 72px;
    color: #f7d967;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f7d967;
    background: #0000;
    overflow: hidden;
}

.glitch::before {
    left: 2px;
    text-shadow: -2px 0 #ff4349;
    animation: glitch 1s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -2px 0 #78f6ff;
    animation: glitch 1s infinite linear alternate-reverse;
    animation-delay: 0.5s;
}

@keyframes glitch {
    0% {
        clip: rect(42px, 9999px, 44px, 0);
    }

    10% {
        clip: rect(12px, 9999px, 82px, 0);
    }

    20% {
        clip: rect(8px, 9999px, 36px, 0);
    }

    30% {
        clip: rect(82px, 9999px, 24px, 0);
    }

    40% {
        clip: rect(58px, 9999px, 36px, 0);
    }

    50% {
        clip: rect(16px, 9999px, 76px, 0);
    }

    60% {
        clip: rect(92px, 9999px, 80px, 0);
    }

    70% {
        clip: rect(34px, 9999px, 72px, 0);
    }

    80% {
        clip: rect(52px, 9999px, 16px, 0);
    }

    90% {
        clip: rect(28px, 9999px, 36px, 0);
    }

    100% {
        clip: rect(12px, 9999px, 58px, 0);
    }
}