.nav {
    background: var(--color-main);
    color: #f7d967;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 1px 1px 5px #f7d967, 1px 1px 5px #f7d967;
    display: flex;
    flex-direction: row;
}

.nav-username {
    font-family: var(--font-0), var(--font-1);
}

.nav-wallet {
    position: fixed;
    right: 5dvw;
    font-family: var(--font-1);
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    color: var(--color-high-light);
    text-shadow: 1px 1px 5px var(--color-high-light-darkness), 1px 1px 5px var(--color-high-light-darkness);
}

.nav-wallet-btc-data {
    font-size: 17px;
}

.nav-wallet-eth-data {
    font-size: 12px;
}

.nav-guide {
    font-family: var(--font-1);
    position: fixed;
    bottom: 35px;
    right: 2dvw;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    opacity: 0.7;
    z-index: 2;
}