body {
  margin: 0;
  background: var(--color-main);
  font-family: var(--font-0);
  font-size: 15pt;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.sign-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canvas {
  position: fixed;
  width: 100dvw;
  height: 97.5dvh;
  border-radius: 10px;
  background: var(--color-main);
  display: none;
}

.content {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}